
.login-container { 
  margin-bottom: 20px;
  
  margin-top: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
 
  
  .login-box {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    text-align: center;
   
  }
  .login-logo-title{
    align-items: center;
    justify-content: center;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #333;
  }
  
  .login-form .input-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .login-form label {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
    color: #555;
  }
  
  .login-form input {
    width: -webkit-fill-available;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  .login-form input:focus {
    border-color: #F6ECEB;
  }
  
  .login-button {
    width: 100%;
    padding: 12px;
    background-color: #F6ECEB;
    border: none;
    color: #7D4F4A;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #7D4F4A;
    color: #F6ECEB;
  }
  
  .error-message {
    color: #e74c3c;
    margin-bottom: 15px;
  }
  
  .forgot-password,
  .signup-link {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
  }
  
  .forgot-password a,
  .signup-link a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .forgot-password a:hover,
  .signup-link a:hover {
    color: #2980b9;
  }

.auth-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
  font-size: 13px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.google-btn:hover {
  background-color: #357ae8;
}

.google-icon {
  margin-right: 10px;
}

.github-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #555; /* GitHub black */
  color: white;
  padding: 10px 15px;
  border: none;
  margin: 5px;

  border-radius: 25px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.github-btn:hover {
  background-color: #2b2b2b; /* Slightly darker black */
}

.github-icon {
  margin-right: 10px;
}

  
/* Responsive Layout */
@media (max-width: 768px) {
  .login-container {   
    margin-bottom: 20px;
    margin-top: 120px;   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .auth-buttons {
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
  }
}