.recommandations-book{
    background-color: #F9F9F9;
    
    padding: 10px;
    border-radius: 15px;
    margin-top: 20px;
}
.recommandations-book-title{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #7D4F4A;
    margin-bottom: 30px;
}

.recommandations-book-cont{
    display: flex;
    
}

.left-banner-book{
    width: 60%;
    max-width: 300px;
    display: flex;
    justify-content: center;
}
.featured-img{
    width: 100%;
    max-width: 300px;
    height: auto;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
}
.left-banner-book img{
    width: 100%;
    max-width: 340px;
    height: auto;
    object-fit: cover;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    border-radius: 10px;


}
.left-banner-book img:hover{
   
    box-shadow: 0 18px 26px rgba(0, 0, 0, 0.15);


}
.right-container{
    width: 75%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.right-top{
   
    max-width: 100%;
    overflow: hidden;
}
.books-carousel {
    display: flex;
    overflow-x: auto;
    gap: 6px;
    scroll-behavior: smooth;
    padding: 10px;
  }
  
  .books-carousel::-webkit-scrollbar {
    display: none;
  }
  
  /* Individual Book Card */
  .books-card {
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    flex-shrink: 0;
    text-align: center;
  }
  
  .books-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }
  
  /* Book Image */
  .books-image {
    width: 150px;
    height: 230px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
  }
  
.right-bottom{
    padding-left: 12px;
}
.books-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
}
.books-rating{
    color: #D0D0D0;
    font-size: 14px;
}
.books-description{
    color: #8A8A8A;
    margin-bottom: 13px;
}

@media (max-width: 768px) {
    .recommandations-book-cont{
        display: flex;
        
    }
    .left-banner-book{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .featured-img{
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        display: flex;
    }
    .left-banner-book img{
        width: 100%;
        height: auto;
        object-fit: cover;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
    
    
    }
    .right-container{
        width: 50%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    .books-image {
        width: 150px;
        height: auto;
        object-fit: cover;
        margin: 0 auto;
        display: block;
        border-radius: 10px;
    }
    .books-title{
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 0px;
    }
    .books-rating{
        color: #D0D0D0;
        font-size: 9px;
    }
    .books-description{
        color: #8A8A8A;
        margin-bottom: 0px;
        font-size: 10px;
    }

}