.faq-page-container {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;  
    padding: 2rem;
    background-color: #F6ECEB;
    border-radius: 20px;
  }
  
  h1 {
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .faq-item {
    margin-bottom: 2rem;
    background-color: #fff;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .faq-item h2 {
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .faq-item p {
    color: #555;
    font-size: 1.1rem;
    line-height: 1.6;
  }

/* Responsive Layout */
@media (max-width: 768px) {
  .faq-page-container {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 130px;    
   
    }
}